* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// setting up variable in sass
$mainBlack: #222;
$mainGreen: #82b430;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainTransition: all 0.5s linear;

body {
  font-family: "Open Sans", sans-serif;
  background: $mainWhite;
  color: $mainBlack;
}
